[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dml"]
	path = dml
	url = https://github.com/terrytangyuan/dml
[submodule "lfda"]
	path = lfda
	url = https://github.com/terrytangyuan/lfda
[submodule "tfio"]
	path = tfio
	url = https://github.com/cran/tfio
